'comment': 'Inherits rules from fixed form Fortran.'
'name': 'Gcov Fortran Fixed Form'
'scopeName': 'source.fortran.fixed.gcov'
'fileTypes': [
  'f.gcov'
  'F.gcov'
  'f77.gcov'
  'F77.gcov'
  'for.gcov'
  'FOR.gcov'
  'fpp.gcov'
  'FPP.gcov'
]
'patterns': [
  {'include': 'source.fortran.fixed'}
  {'include': 'source.gcov'}
]
