comment: 'Inherits rules from fixed form Fortran.'
name: 'gcov-Fortran Fixed Form'
scopeName: 'source.fortran.fixed.gcov'
fileTypes: [
  'f.gcov'
  'F.gcov'
  'f77.gcov'
  'F77.gcov'
  'for.gcov'
  'FOR.gcov'
  'fpp.gcov'
  'FPP.gcov'
]
patterns: [
  {include: '#comments'}
  {include: 'source.gcov'}
  {include: 'source.fortran.fixed'}
]
repository: {
  comments:
    patterns:[
      {
        name: 'comment.line.fortran'
        begin: '^ *-: *\\d+:[cC\\*]'
        end: '\\n'
      }
      {
        name: 'comment.line.fortran'
        begin: '^ *!'
        end: '\\n'
      }
    ]
}
