comment: 'Inherits rules from free form Fortran'
name: 'gcov-Fortran Free Form'
scopeName: 'source.fortran.free.gcov'
fileTypes: [
  'f90.gcov'
  'F90.gcov'
  'f95.gcov'
  'F95.gcov'
  'f03.gcov'
  'F03.gcov'
  'f08.gcov'
  'F08.gcov'
]
patterns: [
  {include: '#derived-type-definition'}
  {include: 'source.gcov'}
  {include: 'source.fortran.free'}
]
repository: {
  'derived-type-definition':
    'name': 'meta.derived-type.definition.fortran'
    'begin': '(?i)\\b(type)\\b(?!\\s*(\\(|is\\b|\\=))'
    'beginCaptures':
      '1': 'name': 'keyword.control.type.fortran'
    'end': '(?=[;!\\n])'
    'patterns': [
      {
        'comment': 'Attribute list.'
        'contentName': 'meta.attribute-list.fortran'
        'begin': '\\G(?=\\s*(,|::))'
        'end': '(::)|(?=[;!\\n])'
        'endCaptures':
          '1': 'name': 'keyword.operator.double-colon.fortran'
        'patterns': [
          {
            'begin': '(,)'
            'beginCaptures':
              '1': 'name': 'punctuation.comma.fortran'
            'end': '(?=::|[,;!\\n])'
            'patterns':[
              {'include': '#access-attribute'}
              {'include': '#abstract-attribute'}
              {'include': '#language-binding-attribute'}
              {'include': '#extends-attribute'}
              {'include': '#invalid-word'}
            ]
          }
        ]
      }
      {# body
        'begin': '(?i)\\s*\\b([a-z]\\w*)\\b'
        'beginCaptures':
          '1': 'name': 'entity.name.derived-type.fortran'
        'end': '(?i)\\s*(end\\s*type)(?:\\s+(?:(\\1)|(\\w+)))?\\b'
        #'end': '(?i)(?:^|(?<=;))\\s*(end\\s*type)(?:\\s+(?:(\\1)|(\\w+)))?\\b'
        'endCaptures':
          '1': 'name': 'keyword.control.endtype.fortran'
          '2': 'name': 'entity.name.derived-type.fortran'
          '3': 'name': 'invalid.error.fortran'
        'patterns':[
          {'include': '#dummy-variable-list'}
          {
            'comment': 'Derived type specification block.'
            'name': 'meta.block.specification.fortran'
            'begin': '(?i)(?!\\s*\\b(?:contains|end\\s*type)\\b)'
            'end': '(?i)(?=\\s*\\b(?:contains|end\\s*type)\\b)'
            #'begin': '(?i)^(?!\\s*\\b(?:contains|end\\s*type)\\b)'
            #'end': '(?i)^(?=\\s*\\b(?:contains|end\\s*type)\\b)'
            'patterns':[
              {'include': '#comments'}
              {'include': '#derived-type-component-attribute-specification'}
              {'include': '#derived-type-component-parameter-specification'}
              {'include': '#derived-type-component-procedure-specification'}
              {'include': '#derived-type-component-type-specification'}
            ]
          }
          {# contains section
            'comment': 'Derived type contains block.'
            'name': 'meta.block.contains.fortran'
            'begin': '(?i)\\b(contains)\\b'
            'beginCaptures':
              '1': 'name': 'keyword.control.contains.fortran'
            'end': '(?i)(?=\\s*end\\s*type\\b)'
            'patterns':[
              {'include': '#comments'}
              {'include': '#derived-type-contains-attribute-specification'}
              {'include': '#derived-type-contains-final-procedure-specification'}
              {'include': '#derived-type-contains-generic-procedure-specification'}
              {'include': '#derived-type-contains-procedure-specification'}
            ]
          }
        ]
      }
    ]
}
