'comment': 'Inherits rules from free form Fortran'
'name': 'Gcov Fortran Free Form'
'scopeName': 'source.fortran.free.gcov'
'fileTypes': [
  'f90.gcov'
  'F90.gcov'
  'f95.gcov'
  'F95.gcov'
  'f03.gcov'
  'F03.gcov'
  'f08.gcov'
  'F08.gcov'
]
'patterns': [
  {'include': 'source.fortran.free'}
]
